{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "endOfLine": "lf",
  "semi": false,
  "jsxSingleQuote": true,
  "useTabs": true,
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false
}
